[submodule "NetworkProject.Team5-Imports"]
	path = NetworkProject.Team5-Imports
	url = https://github.com/HugeChamChi/NetworkProject.Team5-Imports.git
[submodule "Assets/Imports"]
	path = Assets/Imports
	url = https://github.com/HugeChamChi/NetworkProject.Team5-Imports.git
